@import url("css2.css");
@import url("bootstrap-icons.css");
@import url("bootstrap.min.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
@import url("aos.css");
@import url("gallery.css");
/*-- font style --*/
/*-- media query --*/
* {
  outline: none;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #4C9A2A;
}

a:hover,
a:active,
a:focus {
  transition: all ease-in-out 0.3s;
  color: #005123;
}

:focus-visible {
  outline: none;
}

button:focus:not(:focus-visible) {
  box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.1);
}

input::-moz-placeholder {
  color: #4C9A2A !important;
}

input::placeholder {
  color: #4C9A2A !important;
}

.btn-wrapper {
  height: auto;
}
.btn-wrapper .menu-toggle {
  min-height: 40px;
}
.btn-wrapper .menu-toggle .icon-bars {
  display: block;
  width: 2rem;
  height: 2px;
  background-color: #ffffff;
  position: relative;
  transition: transform 0.3s ease-in, background-color 0.2s ease;
}
.btn-wrapper .menu-toggle .icon-bars::before, .btn-wrapper .menu-toggle .icon-bars::after {
  display: block;
  width: 2rem;
  height: 2px;
  background-color: #ffffff;
  content: "";
  position: absolute;
  left: 0;
  transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
}
.btn-wrapper .menu-toggle .icon-bars::before {
  top: 0.5em;
}
.btn-wrapper .menu-toggle .icon-bars::after {
  top: -0.5em;
}
.btn-wrapper .menu-toggle:active .icon-bars {
  transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 135deg);
}
.btn-wrapper .menu-toggle:active .icon-bars::before {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 90deg);
  top: 0;
}
.btn-wrapper .menu-toggle:active .icon-bars::after {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 90deg);
  top: 0;
}

.menu--is-revealed .menu-toggle .icon-bars {
  transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 135deg);
}
.menu--is-revealed .menu-toggle .icon-bars::before {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 90deg);
  top: 0;
}
.menu--is-revealed .menu-toggle .icon-bars::after {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 90deg);
  top: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

a,
a:hover {
  text-decoration: none;
}

.font-small {
  font-size: 0.875rem;
}

.font-extra-small {
  font-size: 0.75rem;
}

.font-black {
  font-weight: 900;
}

/*-- background color css --*/
.bg-color {
  background-color: #002610;
}

.theme-bg-primary {
  background-color: #005123;
}

.theme-bg-secondary {
  background-color: #4C9A2A;
}

.theme-bg-accent-one {
  background-color: #000000;
}

.theme-bg-accent-two {
  background-color: #878A9B;
}

.theme-bg-accent-three {
  background-color: #F2F2F2;
}

.theme-bg-white {
  background-color: #ffffff;
}

.theme-transparent-bg {
  background-color: rgba(0, 81, 35, 0.1);
}

/*-- text color css --*/
.theme-text-white {
  color: #ffffff;
}

.theme-text-primary {
  color: #005123;
}

.theme-text-secondary {
  color: #4C9A2A;
}

.theme-text-accent-one {
  color: #000000;
}

.theme-text-accent-two {
  color: #878A9B;
}

.theme-text-accent-three {
  color: #F2F2F2;
}

/*-- shadow css --*/
.theme-box-shadow {
  box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.1);
}

.theme-text-shadow {
  text-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.1);
}

.theme-border-radius {
  border-radius: 1.25rem;
}

.theme-border {
  border: 2px solid #005123;
}

/*-- custom button css*/
.custom-btn-primary {
  background-color: #005123;
  color: #ffffff;
  min-width: 170px;
  min-height: auto;
  border: 0;
}

.custom-btn-secondary {
  background-color: #4C9A2A;
  color: #ffffff;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
.custom-btn-secondary:hover {
  background-color: #005123;
  color: #ffffff;
}

.custom-link {
  background-color: #4C9A2A;
  color: #ffffff;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
.custom-link:hover {
  background-color: transparent;
  color: #4C9A2A;
  border: 2px solid #4C9A2A;
}

/*-- primary button effect css --*/
.primary-btn-effect {
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  background-color: #005123;
  border: 2px solid #005123;
  border-radius: 50px;
  transition: all 0.15s ease-in-out;
  color: #ffffff;
}
.primary-btn-effect:hover {
  box-shadow: 0 0 10px 0 #005123 inset, 0 0 10px 2px #005123;
  border: 2px solid #005123;
  color: #ffffff;
  background-color: #005123;
}

/*-- secondary button css --*/
.icon-wrapper {
  box-shadow: 0 0 0px 0px rgba(76, 154, 42, 0.5);
  cursor: pointer;
  border-radius: 50%;
  transition: 250ms color;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wave {
  0% {
    box-shadow: 0 0 0px 0px rgba(76, 154, 42, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(76, 154, 42, 0);
  }
}

.page-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #ffffff;
  z-index: 9999;
  overflow: visible;
}
.page-loader .spinner {
  position: relative;
  top: 35%;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  background-color: #005123;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.header {
  background-color: #000000;
}
@media screen and (max-width: 992px) {
  .header .navbar-collapse .navbar-nav {
    height: 200px;
    overflow-y: auto;
  }
}
.header .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding: 1.2rem 1rem;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .header .navbar-nav .nav-item .nav-link {
    padding: 0.8rem 0rem;
    border-bottom: 1px solid #ffffff;
  }
}
.header .navbar-nav .nav-item .active:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #005123;
  position: absolute;
  bottom: 0;
  display: block;
  left: 43%;
  border-radius: 3rem;
}
.header .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0;
  border: 0;
  padding: 0;
  box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.1);
}
.header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #000000;
  padding: 0.8rem 1rem;
  font-weight: 600;
}
.header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #005123;
  color: #ffffff;
}

.smooth {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav-effect {
  position: relative;
}
.nav-effect::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 43%;
  width: 0.5rem;
  height: 0.5rem;
  background: #4C9A2A;
  transform-origin: center center;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  border-radius: 3rem;
}
@media screen and (max-width: 992px) {
  .nav-effect::before {
    left: 0%;
  }
}
.nav-effect:hover:before {
  transform-origin: center center;
  transform: scale(1, 1);
}

.hero {
  position: relative;
}
.hero .bg {
  background-color: #005123;
  background-image: url(hero-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-size: auto;
}
.hero .bg:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.hero .max {
  max-width: 650px;
  margin: 0 auto;
}

.games {
  position: relative;
}
.games .frame {
  direction: rtl;
  margin-top: 6rem;
}
.games .frame img {
  max-width: unset;
}
@media screen and (max-width: 992px) {
  .games .frame img {
    max-width: 100%;
  }
}
.games .game-card {
  background-color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.games .game-card:hover {
  background-color: #000000;
}
.games .game-card .icon-bg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid #005123;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.shape-wrap img {
  position: absolute;
}
.shape-wrap .obj-1 {
  right: 4%;
  top: 15%;
  animation: rippleEffect 5s linear infinite;
}
.shape-wrap .obj-2 {
  left: 8%;
  top: 20%;
  animation: ripple2Effect 5s linear infinite;
}

@keyframes rippleEffect {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(5px, -5px);
  }
  66% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ripple2Effect {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(-5px, -5px);
  }
  66% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.tournaments {
  background-color: rgba(0, 0, 0, 0.5);
}
.tournaments .tournament-card .head-sec {
  display: flex;
  justify-content: space-between;
}
.tournaments .tournament-card .head-sec .tag {
  min-height: 50px;
  align-items: center;
}
.tournaments .tournament-card .body-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .tournaments .tournament-card .body-sec {
    flex-direction: column;
  }
}
.tournaments .tournament-card .body-sec .vs {
  display: inline-block;
  border: 1px solid #005123;
  border-radius: 50%;
  text-align: center;
  margin: 15px auto 0;
  font-size: 12px;
  font-weight: 700;
  width: 30px;
  line-height: 28px;
  height: 30px;
  color: #005123;
}
.tournaments .tournament-card .body-sec .icon-bg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #005123;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
.tournaments .tournament-card .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-game .more-game-card {
  transition: all 0.3s ease-in;
}
.more-game .more-game-card:hover {
  transform: translateY(-5px);
}
.more-game .more-game-card .icon-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.contest .wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
}
.contest .wrap img {
  margin-right: 1.5rem;
}
.contest .wrap .wrap-head {
  margin-top: 1rem;
}
.contest .box {
  border-radius: 1.25rem;
  background-color: transparent;
  padding: 1.5rem;
  border: 2px solid #005123;
  margin-bottom: 30px;
  background-color: rgba(76, 154, 42, 0.5);
}
.contest .box .box-card {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.features {
  background-color: rgba(0, 0, 0, 0.2);
}
.features .icon-bg img {
  width: auto;
  margin: auto;
}
.features .owl-carousel {
  margin-top: 4rem;
}
.features .owl-nav {
  position: absolute;
  top: -70px;
  margin: 0;
  left: 0;
  width: 100%;
}
.features .owl-nav button.owl-prev,
.features .owl-nav button.owl-next {
  padding: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #005123;
  font-size: 2rem;
}
.features .owl-nav button.owl-prev:hover,
.features .owl-nav button.owl-next:hover {
  background-color: #4C9A2A;
  border: 2px solid #4C9A2A;
}

.about .head-content {
  margin-bottom: 3rem;
}
.about .list-content .list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}
.about .list-content .list .image-icon img {
  max-width: initial;
}
.about .list-content .list .con {
  margin-left: 1rem;
}
@media screen and (max-width: 992px) {
  .about .frame {
    width: 60%;
    padding-top: 40px;
    margin: auto;
  }
}

.experience .list {
  display: flex;
  flex-direction: column;
  border: 2px solid #005123;
  padding: 1rem;
  border-radius: 1.25rem;
}
.experience .list .image-icon img {
  max-width: initial;
}
.experience .list .con {
  margin-left: 1rem;
  text-align: center;
}

.howtoplay .step-card {
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2rem 0;
  border: 2px solid #005123;
}
.howtoplay .step-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.2rem;
  left: -0.2rem;
  background: rgba(0, 81, 35, 0.9);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20px 0px 0px 0px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.howtoplay .step-card:hover:before {
  transform: scale(50);
}
.howtoplay .step-card:hover p {
  transition: all 0.3s ease-out;
}
.howtoplay .step-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 0 4px 0 32px;
}
.howtoplay .step-corner .step-arrow {
  color: #4C9A2A;
}

.review .icon-bg {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 120px;
  max-height: 120px;
}
.review .icon-bg img {
  width: auto;
  margin: auto;
}
.review .owl-carousel {
  margin-top: 4rem;
}
.review .owl-nav {
  position: absolute;
  top: -70px;
  margin: 0;
  left: 0;
  width: 100%;
}
.review .owl-nav button.owl-prev,
.review .owl-nav button.owl-next {
  padding: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #005123;
  font-size: 2rem;
}
.review .owl-nav button.owl-prev:hover,
.review .owl-nav button.owl-next:hover {
  background-color: #4C9A2A;
  border: 2px solid #4C9A2A;
}

.faq {
  background-color: rgba(0, 0, 0, 0.2);
}
.faq .accordion-item {
  border: 0;
  margin-bottom: 1.5rem;
  background-color: #005123;
  border-radius: 1.25rem;
  border: none;
}
.faq .accordion-item .accordion-button {
  background-color: #005123;
  color: #ffffff;
  border-radius: 1.25rem !important;
  padding: 1.2rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: none;
}
.faq .accordion-item .accordion-button i {
  font-size: 1.5rem;
}
.faq .accordion-item .accordion-button::after {
  color: #ffffff;
}
.faq .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(arrow-minus.png);
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  right: 30px;
  transition: all ease 0.3s;
}
.faq .accordion-item .accordion-button.collapsed::after {
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(arrow-plus.png);
  background-repeat: no-repeat;
  background-size: 20px;
  transform: rotate(-90deg);
  transition: all ease 0.3s;
}
.faq .accordion-item .accordion-body {
  padding: 0 20px;
}
.faq .accordion-item .accordion-body p {
  border-top: 1px solid #ffffff;
  padding: 20px 0;
}

.subscribe form input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.subscribe form input:focus {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}
.subscribe form .custom-btn-subscribe {
  border-radius: 50%;
  background-color: #4C9A2A;
  min-width: 40px;
  min-height: 40px;
}
.subscribe form .custom-btn-subscribe i {
  color: #ffffff;
}
.subscribe form .custom-btn-subscribe:hover {
  background-color: #005123;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
}
.footer h1,
.footer h2,
.footer h3,
.footer h4 {
  color: #4C9A2A;
}
.footer p {
  line-height: 2.2rem;
}
.footer .link-list li {
  line-height: 2.5rem;
}
.footer .link-list li a {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0 0 0.5rem 0;
}
.footer .link-list li a:hover {
  color: #4C9A2A;
}
.footer .social a,
.footer .social .botom-link {
  color: #ffffff;
}
.footer .social a:hover,
.footer .social .botom-link:hover {
  color: #4C9A2A;
}
.footer .copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-link-effect {
  position: relative;
}
.footer-link-effect::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 2px;
  border-radius: 0.5rem;
  background: #4C9A2A;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.footer-link-effect:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.scrollup {
  overflow: hidden;
  position: fixed;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 1.25rem;
  bottom: -3rem;
  right: 3rem;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 81, 35, 0.8);
  display: block;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0, 0, 0.15, 1.88);
}
.scrollup i {
  font-size: 1.5rem;
  display: inline-block;
  transition: all 0.5s ease-out;
}
.scrollup i:hover, .scrollup i:focus {
  animation: toBottomFromTop 0.5s forwards;
}
.scrollup:hover, .scrollup:focus {
  color: #ffffff;
}

.scrollup.back-top {
  bottom: 20px;
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(-20%);
  }
  50% {
    opacity: 0;
    transform: translateY(20%);
  }
  51% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}